.nav__links {
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav__bar {
    background-color: #02406F;
    height: 100%;
}

.nav__text {
    color: white;
    font-size: 1.5rem;
}

.header__main {
    padding-left: 5vh;
    position: inherit;
    width: 100%;
    box-shadow: 1px 1px 7px 1px rgb(87, 87, 87);


}

@media screen and (max-width: 720px) {
    .nav__bar {
        position: fixed;
    }

    .header__main {
        padding-left: 1rem;
    }
    
}
.user__container{
    display: flex;
    justify-content: space-between;
}
.user__info{
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #02406F;
    padding-right: 5vw;
   
}
