.post__icon{
    background-color: #235E8B;
    width: 2.3vw;
    float: right;
    margin-right: 10vw;
}
.modal{
    font-size: 1.7rem;
}
.post__button{
    background-color: #235E8B;
    width: 100%;
}
.table__container{
    margin-left: 20vw;
    margin-right: 20vw;
}
.icons{
    display: flex;
}
.modal__confirmation{
    float: right;
    display: flex;
    gap: 1vw
}