.post__icon{
    background-color: #235E8B;
    width: 2.3vw;
    float: right;
    margin-right: 10vw;
}
.modal{
    font-size: 1.7rem;
}
.post__button{
    background-color: #235E8B;
    width: 100%;
}
.table__container{
    margin-left: 20vw;
    margin-right: 20vw;
}
.icons{
    display: flex;
}
.modal__confirmation{
    float: right;
    display: flex;
    gap: 1vw
}
.new__post{
    display: flex;
    justify-content: space-between;
    margin-right: 30rem;
    margin-left: 50rem;
}
.group__title{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 1rem;
    font-size: 1.4rem;
}
.table__title{
    background-color: #c5c5c5;
}

@media screen and (max-width: 720px) {
    .new__post{
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-left: 0;
    }
}